* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --cust-black: #001727;

}

section {
    margin: 100px 0;
}

a, li {
    text-decoration: none;
    list-style: none;
}

.btn {
    padding: 14px 32px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: var(--cust-black);
    border: none;
}

.btn:hover {
    background-color: rgba(3, 0, 39, 0.76);
    transition: 0.25s;
}

.container {
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 10px;
}

.big-img img{
    width: 100%;
}

.content {
    text-align: left;
    letter-spacing: 2px;
}

.title {
    max-width: 700px;
    font-size: 56px;
    color: #000;
}

.content-text {
    margin: 50px 0;
    font-size: 16px;
    color: #000;
}

/*  ====================    HEADER SECTION  ====================    */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.header-container {
    max-width: 1240px;
    padding: 24px 16px;
}

.header-container, .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu__item-link {
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: var(--cust-black);
    text-transform: uppercase;
}

.header-menu__item-link:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -4px;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.25s ease-out;
    background-color: var(--cust-black);
}

.header-menu__item-link:hover:after {
    transform: scaleX(1);
}

.header-menu__item:not(:last-child) {
    margin: 0 64px 0 0;
}

/*----------- HEADER Burger menu -----------*/

.header-burger{
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    background: none;
    border: none;
}

.header-burger span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: var(--cust-black);
    border-radius: 2px;
    transform: translate(-50%, -50%);
    transition: all .2s;
}
.header-burger span:nth-child(1){
    top: calc(50% - 7px);
}

.header-burger span:nth-child(3){
    top: calc(50% + 7px);
}

.header-burger.active span:nth-child(1){
    top: -10px;
}

.header-burger.active span:nth-child(2){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header-burger.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header-burger-menu{
    position: fixed;
    left: 0;
    right: 0;
    bottom: -100px;
    margin: 0 auto;
    padding: 10px 15px;
    width: 350px;
    background-color: #fff;
    border: 1px solid var(--cust-black);
    border-radius: 10px;
    transition: all .5s;
}


/*  ====================    HOME SECTION  ====================    */
#home {
    margin: 150px 0 70px;
    text-align: center;
}

.home-title {
    max-width: 900px;
    margin: 0 auto;
    font-size: 64px;
    color: #000;
}

.home-btn {
    margin: 50px 0 70px;
}

/*  ====================    ABOUT-FIRST-PAGE SECTION  ====================    */
#about {
    background-color: #f6cdb0;
}

.about-container, .services-container {
    padding: 70px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    width: 100%;
    margin: 0 100px 0 0;
}

/*  ====================    OFFERS SECTION  ====================    */
#services {
    background-color: #F4E19D;
}

.offers-title {
    margin: 0 auto;
    text-align: center;
}

.offers-slider {
    margin: 70px 0;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.offers-slider__card {
    display: block;
    padding: 20px 25px;
    text-align: center;
}

.offers-slider__title {
    font-size: 24px;
    color: #000;
}

.services-video {
    margin: 0 0 0 50px;
    padding: 10px;
}

/*  ====================    REVIEWS SECTION  ====================    */

.review-title {
    margin: 0 auto 100px;
    text-align: center;
}

.quote-area {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.quote-area i:last-child {
    display: flex;
    align-items: flex-end;
}

.quote-text {
    padding: 0 6px;
    font-size: 22px;
    text-align: center;
    word-break: break-word;
}

.author-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 25px;
}

.quote-author__span {
    height: 1px;
    width: 20px;
    margin-right: 5px;
    background-color: #000;
}

.quote-author {
    font-size: 18px;
    font-style: italic;
}

.btn-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0;
    border-top: 1px solid #202842;
}

.quote-btn {
    padding: 13px 22px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: #5372F0;
}

/*  ====================    CONTACT SECTION  ====================    */

.contacts-container {
    display: flex;
    justify-content: space-between;
}

.contacts-content {
    margin-right: 100px;
    text-align: right;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}


.field:focus {
    border: 2px solid var(--cust-black);
}

.contacts-btn {
    padding: 14px 40px;
}

/*  ====================    FOOTER SECTION  ====================    */
#footer {
    margin: 100px 0 0;
    padding: 0 0 60px;
}

.footer .share {
    text-align: center;
}

.footer .share a {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background: var(--cust-black);
    margin: 0 10px;
    border-radius: 50%;
}

.footer .share a:hover {
    background-color: rgba(3, 0, 39, 0.76);
    transition: .25s;
}

.footer .credit {
    border-top: .1rem solid rgba(0, 0, 0, .1);
    margin-top: 20px;
    padding: 20px 10px;
    font-size: 25px;
    color: var(--cust-black);
    text-align: center;
}



@media (max-width: 1280px) {
    .container{
        max-width: 990px;
    }
}

@media (max-width: 972px) {
    #home{
        padding: 0;
        margin: 100px 0 0;
    }
    section{
        padding: 70px 0 0;
    }

    .header-container{
        padding: 10px 15px;
    }

    .header-menu{
        display: none;
    }

    .header-burger{
        display: block;
    }

    .header-burger-menu.active{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 15px;
        margin: 0 auto;
        transition: all 0.5s;
    }

    .header-burger-menu__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-burger-menu__link{
        font-size: 25px;
        color: var(--cust-black);
    }

    .home-title{
        width: 800px;
        font-size: 50px;
    }

    .title{
        font-size: 40px;
    }

    .home-btn{
        margin: 25px 0;
    }

    .content-text{
        margin: 25px 0;
    }

    .about-img{
        width: 100%;
        margin: 0 35px 0 0;
    }

    .services-video{
        margin: 0 0 0 20px;
    }
}


@media (max-width: 768px) {
    section{
        margin: 0;
    }
    .home-title{
        width: 500px;
        font-size: 40px;
    }

    .title{
        font-size: 30px;
    }

    .about-container, .services-container, .contacts-container{
        display: block;
        padding: 10px;
    }
    
    .content{
        text-align: center;
    }

    .content-text{
        margin: 15px 0;
    }

    .services-video{
        width: 100%;
        margin: 30px 0 0;
    }

    .review-title{
        margin: 0 0 50px 0;
    }

    .contacts-content{
        margin: 0 0 25px;
        text-align: center;
    }

}

@media (max-width: 524px) {
    .home-title{
        width: 350px;
        font-size: 30px;
    }

    .title{
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .home-title{
        width: 320px;
    }

    .footer .share a{
        height: 40px;
        width: 40px;
        line-height: 41px;
    }

}
